{% extends "base.html" %}
{% load static %}
{% block title %}Update Office{% endblock %}
{% block content %}
<section class="background-radial-gradient overflow-hidden">
    <link href="{% static 'tcn/css/form.css' %}" rel="stylesheet" />  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        {% if user.is_authenticated and  user.role == 'manager' %}
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'tcn:listOffices' %}'">
            goback
        </button>
        {% else %}
        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'tcn:login' %}'">
            Login
        </button>
        {% endif %}
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                {% if user.is_authenticated and user.role == 'manager' %}
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Manager Interface
                    <br />
                    <span style="color: hsl(218, 81%, 75%)">Update Agent</span>
                    </h1>
                {% endif %}
            </div>
  
            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card bg-glass">
                    <div class="card-body px-4 py-5 px-md-5">
                        <form id="officeForm" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" name="{{ form.name.name }}" class="form-control" id="{{ form.name.id_for_label }}" value="{{ form.name.value }}">
                                        <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                                    </div>
                                </div>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.country.name }}" class="form-control" id="{{ form.country.id_for_label }}" value="{{ form.country.value }}">
                                <label for="{{ form.country.id_for_label }}" class="form-label">Country</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.state.name }}" class="form-control" id="{{ form.state.id_for_label }}" value="{{ form.state.value }}">
                                <label for="{{ form.state.id_for_label }}" class="form-label">State</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.region.name }}" class="form-control" id="{{ form.region.id_for_label }}" value="{{ form.region.value }}">
                                <label for="{{ form.region.id_for_label }}" class="form-label">Region</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.address.name }}" class="form-control" id="{{ form.address.id_for_label }}" value="{{ form.address.value }}">
                                <label for="{{ form.address.id_for_label }}" class="form-label">Address</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.counter.name }}" class="form-control" id="{{ form.counter.id_for_label }}" value="{{ form.counter.value }}">
                                <label for="{{ form.counter.id_for_label }}" class="form-label">Counter</label>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" name="{{ form.number_of_windows.name }}" class="form-control" id="{{ form.number_of_windows.id_for_label }}" value="{{ form.number_of_windows.value }}">
                                <label for="{{ form.number_of_windows.id_for_label }}" class="form-label">Number of Windows</label>
                            </div>
                            <br/>
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                Update Office   
                            </button>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if form.errors and not form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
